<footer class="footer">
  <small>
    <a href="http://google.org/">Wishareit</a>
    by Alex K
  </small>
  <nav>
   <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.google.org/">News</a></li>
    </ul>
  </nav>
</footer>